* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


/* Designing Container */

.container {
    /* border: 2px solid black; */
    height: 100vh;
}


/* Designing Image */

.container form img {
    width: 10em;
    height: 10em;
    display: block;
    margin: 0 auto;
}


/* Designing Form */

.container form {
    /* border: 2px solid rgba(0, 0, 0, 0.212); */
    height: 90vh;
    width: 40vw;
    margin: 2% auto;
    border-radius: 8px;
}


/* Designing Elements */

.container form input,
button {
    /* border: 2px solid greenyellow; */
    display: block;
    margin: 5.5em auto;
    font-size: 1rem;
    padding: 2% 7%;
    text-align: center;
    color: rgb(245, 67, 13);
    /* font-weight: bold; */
    outline: none;
    border-radius: 5px;
    border: .5px solid grey;
}


/* Register Now Heading */

.container form h4 {
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: lighter;
    font-size: 1.3rem;
}


/* Login Designing */

.container form a {
    /* border: 2px solid yellow; */
    text-decoration: none;
    color: black;
    font-size: .8rem;
    display: block;
    text-align: center;
    margin-top: -6em;
}


/* Designing Login Button */

.container form button {
    /* border: 2px solid black; */
    background: none;
    color: rgb(245, 67, 13);
    border: none;
    border-bottom: .5px solid rgb(245, 67, 13);
    border-radius: 0px;
    margin-top: -3em;
    font-size: 1.1rem;
}


/* Hover Effect On Login Button */

.container form button:hover {
    transition: .6s;
    border-bottom: 1px solid black;
    cursor: pointer;
}


/* Background Image Designing */

.bgimg img {
    /* border: 2px solid black; */
    width: 24em;
    height: 24em;
    position: absolute;
    margin-top: 18em;
    margin-left: 5em;
}

.bgimg2 img {
    /* border: 2px solid black; */
    width: 19em;
    height: 19em;
    position: absolute;
    margin-top: 24em;
    margin-left: 73em;
}


/* Registration Designing */

.newregistration {
    /* border: 2px solid black; */
    text-align: right;
}