    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    
    .container {
        height: 100vh;
        background: linear-gradient(#141e30, #243b55);
        /* background-color: #435160; */
    }
    /* Designing Heading */
    
    .container h1 {
        letter-spacing: 1px;
        padding-top: 1em;
        color: rgb(255, 255, 255);
        text-shadow: white 0px 0px 6px;
        text-transform: uppercase;
        text-align: center;
    }
    /* Designing Form Box */
    
    .container form {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40vw;
        height: 100vh;
        padding: 40px;
        padding-top: 7em;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, .5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
        border-radius: 10px;
    }
    /* Designing Elements */
    
    .container form input {
        width: 100%;
        padding: 1em 0;
        font-size: 1.2rem;
        color: #fff;
        margin-top: 0.5em;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }
    /* Designing Button */
    
    .container form button {
        /* position: relative; */
        display: inline-block;
        padding: 10px 20px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        margin-left: 12.5em;
        margin-top: 2.7em;
        transition: .5s;
        background-color: transparent;
        letter-spacing: 4px;
        border: 3px solid transparent;
        animation: submitanima 1s ease-in-out infinite;
        color: white;
        border-radius: 4px;
        box-shadow: 0 0 1px #f4032b, 0 0 5px #f4032b, 0 0 7px #f4032b, 0 0 10px #f4032b;
    }
    
    .container form button:hover {
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #f4032b, 0 0 25px #f4032b, 0 0 50px #f4032b, 0 0 100px #03e9f4;
    }
    
    #home,
    #log-out {
        position: absolute;
        color: #ffffff;
        text-shadow: #fff 0px 0px 2px;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.2rem;
        top: 1em;
        left: 1em;
        background-color: #f4032b;
        border-radius: 4px;
        padding: .2em .6em;
        box-shadow: #f4032b 0px 0px 20px;
    }
    
    #log-out {
        left: 73em;
        background-color: greenyellow;
        color: black;
        text-shadow: black 0px 0px 1px;
        box-shadow: greenyellow 0px 0px 20px;
    }
    /* Label Designing */
    
    .container form label {
        position: absolute;
        color: white;
        font-weight: bold;
    }
    
    .container form input:focus {
        color: red;
    }